
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/

.env
.env.*
!.env.example   # nếu file mẫu thì vẫn cho push


.vscode/
.idea/
.ipynb_checkpoints/
*.log

.DS_Store
Thumbs.db

data/raw/
data/processed/
data/vector_store/

chroma_db/

.cache/
.huggingface/